:root {
    --font-family: 'Red Hat Display', sans-serif;
    --primary-color: hsl(0, 100%, 74%);
    --primary-color-green: hsl(154, 59%, 51%);
    --accent-color: hsl(248, 32%, 49%);
    --gray-dark: hsl(249, 10%, 26%);
    --gray: hsl(0, 2%, 76%);
    --purple: hsl(248, 32%, 49%);
    --white: hsl(0, 0%, 100%);
    --font-family: "Poppins", sans-serif;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 16px;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(0, 100%, 74%);
    background-image: url('../images/bg-intro-desktop.png'); 
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 24px;
    width: 1440px;
   
}

.container-text {
    display: flex;
    flex-direction: column;
    color: var(--white);
    width: 50%;
}


.container-title {
    width: 60%;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.container-paragraph {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 32px;
    width: 85%;
}

.container-subtitle {
    margin-bottom: 16px;
    background-color: var(--purple);
    padding: 24px;
    border-radius: 8px;
    color: var(--white);
    font-weight: 300;
    box-shadow: 0 10px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 36px;
    text-align: center;
}

.highlight-subtitle {
    font-weight: 900;
}

.container-form {
    height: 490px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 8px;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 10px 0px rgba(0, 0, 0, 0.15);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.form input {
    padding: 16px 0 16px 24px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    font-size: 16px;
}

.container-button {
    background-color: var(--primary-color-green);
    color: var(--white);
    padding: 12px;
    border-radius:8px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.container-terms {
    color: var(--gray);
}

.highlight {
    color: var(--primary-color);
}